body {
	font: 12px/1.6 "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana;
}

a, a:visited {
	font-weight: bold;
	color: maroon;
}

ul {
	padding: 0;	
}

#counter {
	width: 250px;
	margin: 0 auto;
}

#video {
	width: 100%
	margin
}

a:hover, a:active {
	
}