body {
	font: 12px/1.6 "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana;
}

a, a:visited {
	font-weight: bold;
	color: maroon;
}

ul {
	padding: 0;	
}

li {
	border-bottom: 1px solid #CCC;
	padding: 6px;
	font-size: 15px;
}

#counter {
}

#video {
	width: 100%
	margin
}

a:hover, a:active {
	
}